body{
    font-family: "Arial";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aef5f2;
}
input{
    border: none;
    border-radius: 5px;
}

.cabecalho p{
    font-size: 14px;
}

h1{
    font-size: 15px;
}

h2{
    font-size: 13px;
    font-weight: normal;
    line-height: 5px;
}

.corpo input{
    width: 20px;
    font-weight: bold;

}

.corpo .input-maior{
    width: 50px;
}

.corpo p, .corpo h3{
    font-size: 14px;
}

.subtitiulo{
    display: flex;
    flex-direction: row;
}

.subtitiulo h2{
    padding: 10px;
}

.buttons button{
    background-color: #1e8280;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    color: white;

    box-shadow: 10px 10px 13px 0px rgba(18,77,75,0.75);
-webkit-box-shadow: 10px 10px 13px 0px rgba(18,77,75,0.75);
-moz-box-shadow: 10px 10px 13px 0px rgba(18,77,75,0.75);

}

.buttons button:active{
    background-color: #124d4b;
    position: relative;
    top: 1px;
}

span{
    font-weight: bold;
}